# This is a basic workflow to help you get started with GitHub Pages

# Workflow to set up GitHub Pages for the repository
name: Setup GitHub Pages

on:
  workflow_dispatch:
  push:
    branches: [ main ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v4